.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
  color: #a1a1aa;
}
